<div id="header" class="row">

    <div id="logo" class="col-md-4 d-flex justify-content-md-start justify-content-center">
        <img src="https://img2.pic.in.th/pic/360_F_253083014_MH4h16llY6063TBkG8h7SDBuSyaOV2vi.jpg">
    </div>

    <div id="menu" class="col-md-8">
        <a href="/" style="margin-top: 5px;">หน้าแรก</a>
        &nbsp;&nbsp;&nbsp;
        <p style="margin-top:4px;">|</p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/category" style="margin-top: 5px;">หมวดหมู่</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <p style="margin-top:4px;">|</p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/promotion" style="margin-top: 5px;">โปรโมชั่น</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <p style="margin-top:4px;">|</p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/article" style="margin-top: 5px;">บทความเพื่อสัตว์เลี้ยง</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <p style="margin-top:4px;">|</p>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/location" style="margin-top: 5px;">ที่ตั้งร้านค้า</a>
    </div>
</div>