<div id="login-header" class="row">
    <div class="col-md-6"></div>
    <div id="login" class="col-md-6">        
        <% if (typeof AccountName !== 'undefined') { %>
            <a id="icon-cart" style="margin-top: 1.5px;" href="/cart/<%=AccountID%>" class="bi bi-cart-fill""></a>
            &nbsp;&nbsp;&nbsp;
            <p style="margin-top: 5px;">ยินดีต้อนรับ, <a style="margin-top: 5px;" href="/myaccount"><%= AccountName %>!</a></p>
            &nbsp;&nbsp;&nbsp;
            <p style="margin-top:4px;">|</p>
            &nbsp;&nbsp;&nbsp;
            <a href="/logout" style="margin-top: 5px;">ออกจากระบบ</a>
        <% } else { %>
            <a href="/login" style="margin-top: 5px;">เข้าสู่ระบบ</a>
            &nbsp;&nbsp;&nbsp;
            <p style="margin-top:4px;">|</p>
            &nbsp;&nbsp;&nbsp;
            <a href="/register" style="margin-top: 5px;">สมัครสมาชิก</a>
        <% } %>
    </div>
</div>
