<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/mainpage.css' />
  <link rel='stylesheet' href='/stylesheets/promotion.css' />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <div id="main">

    <div class="container">

      <%- include('partials/login-header') %>

        <%- include('partials/header') %>

    </div>
  </div>


  <div id="content">

    <div id="topic">
      <p id="topic-name">โปรโมชั่น</p>
    </div>

    <div class="image-container">
      <div id="image">
        <img
          src="images/petbanner1.jpg"
          class="img-fluid" alt="Responsive image">
      </div>
      <div id="image">
        <img
          src="images/petbanner2.jpg"
          class="img-fluid" alt="Responsive image">
      </div>
      <div id="image">
        <img src="images/petbanner3.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>
    </div>
    </div>
</body>

</html>