#content{
 padding-top: 30px;
}

#topic-name{
 display: flex;
 justify-content: center;
 font-size: 40px;
}

@media (min-width: 990px){
 #login-form, #register-form{
  padding-top: 20px;
  padding-left: 30%;
  padding-right: 30%;
 }
}

@media (min-width: 1366px){
 #login-form, #register-form{
  padding-top: 40px;
  padding-left: 37%;
  padding-right: 37%;
 }
}

#submit_button{
 margin-top: 30px;
}

#password-hint p{
 font-size: 14px;
}