@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('/fonts/NotoSansThai.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%; /* ทำให้หน้าเว็บและเนื้อหามีความสูงเต็มหน้าจอ */
  margin: 0;
}

div {
  font-family: 'Noto Sans Thai', sans-serif;
}

.sidebar {
 margin: 0;
 padding: 0;
 width: 200px;
 background-color: #f1f1f1;
 position: fixed;
 height: 100%;
 overflow: auto;
}

.sidebar a {
 display: block;
 color: black;
 padding: 16px;
 text-decoration: none;
}

.sidebar a.active {
 background-color: #3d3d3d;
 color: white;
}

.sidebar a:hover:not(.active) {
 background-color: #555;
 color: white;
}

div.content {
 margin-left: 200px;
 padding: 1px 16px;
 height: 1000px;
}

@media screen and (max-width: 700px) {
 .sidebar {
   width: 100%;
   height: auto;
   position: relative;
 }
 .sidebar a {float: left;}
 div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
 .sidebar a {
   text-align: center;
   float: none;
 }
}

#topbar {
  background-color: black; 
  height: 70px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#topbar-name {
  margin-top: 15px;
  margin-left: 40px;
  font-size: 20px;
}

#username {
  margin-right: 40px;
  margin-top: 18px;
}

p {
  margin: 0;
}