#content{
 padding-top: 30px;
}

#topic-name{
 display: flex;
 justify-content: center;
 font-size: 40px;
}

#order-card {
 border: 1px solid #dddddd00;
 padding-left: 10%;
 padding-right: 10%;
 margin-top: 30px;
 
 justify-content: flex-end;

}

.order-image {
 width: 100px;
 height: auto;
}
.order-details {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.order-status {
 text-align: right;
}
.btn-rate {
 background-color: #FF5722;
 color: white;
 border: none;
}

#payment {
 justify-content: flex-start;
 margin-bottom: 80px;
 padding-right: 10%;
}

#payment img {
 height: 300px; /* ขนาดเริ่มต้นของรูปภาพ */
}

/* Media query สำหรับหน้าจอที่เล็กกว่า 576px (col-sm) */
@media (max-width: 575.98px) {
 #payment img {
  justify-content: center;
  margin-top: 50px;
 }
}
