@font-face {
  font-family: 'Noto Sans Thai';
  src: url('/fonts/NotoSansThai.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%; /* ทำให้หน้าเว็บและเนื้อหามีความสูงเต็มหน้าจอ */
  margin: 0;
}

div {
  font-family: 'Noto Sans Thai', sans-serif;
}

#login{
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  font-weight: bold;
}

#header {
  padding-top: -5px;

}

#menu {
  margin-top : 30px;
  display: flex;
  justify-content: flex-end;
}

#logo img {
  width: 200px;
  height: auto;
}

#icon-cart{
  color: rgb(0, 0, 0);
}

a:link {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(0, 0, 0); 
  text-decoration: none;
}

a:active {
  color: rgb(0, 0, 0);
}

#img-slides{
  padding-top: 40px;
  display: flex;
  justify-content: center;
}


.w3-left, .w3-right, .w3-badge {
  cursor:pointer;
  color: black;
}

.w3-badge {
  height: 18px;  /* Adjust height as needed */
  width: 18px;   /* Set width equal to height to maintain circular shape */
  padding: 0;
  margin: 0 2px; /* Adjust spacing between badges */
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#content{
  animation: fadeIn 2s;
  min-height: calc(100vh - 300px);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0.85;}
  100% { opacity: 1; }
}

#footer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
}


#foot-nav {
  color: rgb(230, 230, 230);
}

#foot-nav a{
  color: rgb(230, 230, 230);
}

#foot-nav p{
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: center;
}