#content{
 padding-top: 30px;
}

#topic-name{
 display: flex;
 justify-content: center;
 font-size: 40px;
}

.order-card {
 border: 1px solid #ddd;
 padding: 35px;
 margin-top: 30px;
 margin-left: 7%;
 margin-right: 7%;
}

@media (min-width: 990px){
 .order-card{
  margin-left: 15vw;
  margin-right: 15vw;
 }
}

@media (min-width: 1366px){
 .order-card{
  margin-left: 20vw;
  margin-right: 20vw;
 }
}

.product-info{
	margin-left: 15px;
}

.order-image {
 width: 100px;
 height: auto;
}
.order-details {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.order-status {
 text-align: right;
}
.btn-rate {
 background-color: #FF5722;
 color: white;
 border: none;
}

#order-header{
 padding-bottom: 10px;
}

#order-footer{
 padding-top: 10px;
}