<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/mainpage.css'/>
    <link rel='stylesheet' href='/stylesheets/sub_category.css'/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div id="main">
      <div class="container">

        <div id="login-header" class="row">

          <div class="col-md-6">
          </div>

          <div id="login" class="col-md-6">
            <i id="icon-cart" href="/cart" class="bi bi-cart4"></i>
            &nbsp;&nbsp;&nbsp;
            <a href="/login" style="margin-top: 5px;">เข้าสู่ระบบ</a>
            &nbsp;&nbsp;&nbsp;
            <p style="margin-top:4px;">|</p>
            &nbsp;&nbsp;&nbsp;
            <a href="/register" style="margin-top: 5px;">สมัครสมาชิก</a>
          </div>

        </div>

        <div id="header" class="row">

          <div id="logo" class="col-md-4 d-flex justify-content-md-start justify-content-center">
            <img src="https://img2.pic.in.th/pic/360_F_253083014_MH4h16llY6063TBkG8h7SDBuSyaOV2vi.jpg">
          </div>

          <div id="menu" class="col-md-8">
            <a href="/" style="margin-top: 5px;">หน้าแรก</a>
            &nbsp;&nbsp;&nbsp;
            <p style="margin-top:4px;">|</p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/category" style="margin-top: 5px; font-weight: bold;">หมวดหมู่</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="margin-top:4px;">|</p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/promotion" style="margin-top: 5px;">โปรโมชั่น</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="margin-top:4px;">|</p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/article" style="margin-top: 5px;">บทความเพื่อสัตว์เลี้ยง</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <p style="margin-top:4px;">|</p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/location" style="margin-top: 5px;">ที่ตั้งร้านค้า</a>
          </div>
        </div>

      </div>
    </div>

    <div id="content" style="padding-bottom: 50px">

      <div id="path" class="row">
        <div class="col-md-12" style="display: flex; justify-content: center;">
          <p><a style="color: green " href="/">หน้าแรก</a>&nbsp;/&nbsp;<a style="color: green" href="/category" font-weight: bold;>หมวดหมู่</a></p>        </div>
      </div>

      <div id="topic">
         <p id="topic-name">แมว</p>
         <img id="topic-pic" src="https://cms.betagro-pet.com/wp-content/uploads/2021/09/c-brand.png">  
      </div>

      <div id="sub-menu">
         <a href="/category/big_cat" style="margin-top: 5px;">แมวโต</a>
         &nbsp;&nbsp;&nbsp;
         <p style="margin-top:4px;">|</p>
         &nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/category/small_cat" style="margin-top: 5px;">แมวเล็ก</a>
         &nbsp;&nbsp;&nbsp;&nbsp;
         <p style="margin-top:4px;">|</p>
         &nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/category/wet_cat" style="margin-top: 5px;">อาหารเปียก</a>
         &nbsp;&nbsp;&nbsp;&nbsp;
         <p style="margin-top:4px;">|</p>
         &nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/category/lick_cat_food" style="margin-top: 5px; font-weight: bold;">อาหารแมวเลีย</a>
         &nbsp;&nbsp;&nbsp;&nbsp;
         <p style="margin-top:4px;">|</p>
         &nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/category/canned_cat_food" style="margin-top: 5px;">อาหารแมวกระป๋อง</a>
       </div>

      <div id="selector" class="row">
         
        <div id="image" class="col-lg-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwyXeKDN29AmZgZPLS7n0Bepe8QmVappBwZCeA3XWEbWNdiDFB">
            <p>สุนัข</p>
            <div class="button">
               <button type="button" class="btn btn-light">Add to Cart</button>
               <button type="button" class="btn btn-dark">Buy Now</button>
            </div>
        </div>

        <div id="image" class="col-lg-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwyXeKDN29AmZgZPLS7n0Bepe8QmVappBwZCeA3XWEbWNdiDFB">
            <p>สุนัข</p>
            <div class="button">
               <button type="button" class="btn btn-light">Add to Cart</button>
               <button type="button" class="btn btn-dark">Buy Now</button>
            </div>
        </div>

        <div id="image" class="col-lg-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwyXeKDN29AmZgZPLS7n0Bepe8QmVappBwZCeA3XWEbWNdiDFB">
            <p>สุนัข</p>
            <div class="button">
               <button type="button" class="btn btn-light">Add to Cart</button>
               <button type="button" class="btn btn-dark">Buy Now</button>
            </div>
        </div>

        <div id="image" class="col-lg-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwyXeKDN29AmZgZPLS7n0Bepe8QmVappBwZCeA3XWEbWNdiDFB">
            <p>สุนัข</p>
            <div class="button">
               <button type="button" class="btn btn-light">Add to Cart</button>
               <button type="button" class="btn btn-dark">Buy Now</button>
            </div>
        </div>

         <div id="image" class="col-lg-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwyXeKDN29AmZgZPLS7n0Bepe8QmVappBwZCeA3XWEbWNdiDFB">
            <p>สุนัข</p>
            <div class="button">
               <button type="button" class="btn btn-light">Add to Cart</button>
               <button type="button" class="btn btn-dark">Buy Now</button>
            </div>
         </div>

         
        
      </div>

    </div>

    
    <div id="footer">

      <div id="foot-nav">
        <a href="/" style="margin-top: 5px; font-weight: bold;">หน้าแรก</a>
        &nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/category" style="margin-top: 5px;">หมวดหมู่</a>

        &nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/promotion" style="margin-top: 5px;">โปรโมชั่น</a>

        &nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/article" style="margin-top: 5px;">บทความเพื่อสัตว์เลี้ยง</a>

        &nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/location" style="margin-top: 5px;">ที่ตั้งร้านค้า</a>
        <br>
        <div style=" height: 1px; margin-top: 5px; margin-bottom: 5x"></div>
        <p style="color: rgb(167, 167, 167);">Copyright &copy;2023 Designed by n.tha._.north</p>

      </div>
    </div>


  </div>
  </body>
</html>
