<div id="path" class="row">
    <div class="col-md-12" style="display: flex; justify-content: center;">
        <p><a style="color: green " href="/">หน้าแรก</a>&nbsp;/&nbsp;
            <a style="color: green" href="/category" >หมวดหมู่</a>&nbsp;/&nbsp;
            <a style="color: green " href="/<%= Title %>" font-weight: bold;><%= Title %></a>
        </p>
    </div>
</div>