<div class="sidebar">
    <a class="<%= (title == 'สรุปผล') ? 'active' : '' %>" href="/overall">สรุปผล</a>
    <a class="<%= (title == 'คำสั่งซื้อทั้งหมด') ? 'active' : '' %>" href="/order_all">คำสั่งซื้อทั้งหมด</a>
    <a class="<%= (title == 'จัดการสินค้า') ? 'active' : '' %>" href="/order_manage">จัดการสินค้า</a>
    <a href="#about"></a>
</div>