<div id="topbar" class="row">
    <div id="topbar-name">
        <p style="color: white">ผู้ดูแลระบบ</p>
    </div>
    <div id="username">
        <p style="color: rgb(255, 255, 255)">ยินดีต้อนรับ, <%=AccountName%></p>		
    </div>
</div>